.DS_Store
.idea/
*.iml
**/.ipynb_checkpoints/
**/cifar-10-batches-py
*/__pycache__/
*.tar.gz
*.zip
*.pickle
*.p

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip

.ipynb_checkpoints/
